@using Cyb_lab.ViewModels
@model OnetimePasswordLoginViewModel

@{
	ViewData["Title"] = "Onetime Password Login";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-12">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="OnetimePassword"></label>
				<input asp-for="OnetimePassword" class="form-control" />
				<span asp-validation-for="OnetimePassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<input type="hidden" asp-for="X" />
			<input type="hidden" asp-for="FunctionValue" />
			<input type="hidden" asp-for="OnetimePasswordFunction" />
		</form>
		@if (Model is not null)
		{
			<div class="form-group">
				<p><b>Onetime Password Function: </b>@Model.OnetimePasswordFunction</p>
				<p><b>a: </b>@Model.A</p>
				<p><b>x: </b>@Model.X</p>
			</div>

			// TODO: Delete when finished
			<div>
				<p><b>Function result: </b>@Model.FunctionValue</p>
			</div>
		}
	</div>
</div>